{% extends 'base.html.twig' %}


{% block title %}Hello CompanyController!{% endblock %}

{% block body %}

    <ul>
        {% for company in companies %}
        <li>
            <a href="{{ path('edit_company', {id: company.id}) }}"> {{ company.name }} </a>
        </li>
        {% endfor %}
    </ul>
    <input type="button" onclick="location.href='{{ path('new_company') }}';" value="Ajouter une company" class="btn btn-primary"/>


{% endblock %}
