{% extends 'base.html.twig' %}

{% block title %}Skill List{% endblock %}



{% block body %}

        <div class="container p-2">
                <h1>List Skills</h1>

                <ul class="list-group">
                        {% for skill in skills %}
                                <li class="p-2 list-group-item list-group-item list-group-item-action">{{ skill.name}}</li>
                        {% endfor %}
                </ul>
                <div class="p-3">

                        <a class="btn btn-light" href="{{ path('new_skills') }}">Create New Skill</a>
                        <p>Create skill to add in Coding Recrute</p>

                </div>
        </div>

{% endblock %}
