{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste de candidates </h2>
    <ul>
        {% for candidate in candidates %}
        <li class="p-2">
            <a href="{{ path('candidate_details', {id: candidate.id}) }}"> {{ candidate.name }}</a>
            <a class="btn btn-primary" href="{{ path('edit_candidate', {id: candidate.id}) }}">Edit Candidate</a>
            <a class="btn btn-primary" href="{{ path('delete_candidate', {id: candidate.id}) }}">Delete Candidate</a>
            <br>
        </li>
        {% endfor %}
    </ul>

{% endblock %}