{% extends 'base.html.twig' %}


{% block title %}Job List{% endblock %}

{% block body %}

    <div class="container p-2">
        <h1>Liste d'offres qui ne correspondent pas à {{candidat.name}}</h1>
        <ul class="list-group">
            {% for job in jobsNotMatch %}
                     <a href="{{ path('details_job', {id: job.id}) }}"> <li class="list-group-item">{{ job.name }} </li></a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}