{% extends 'base.html.twig' %}



{% block body %}
    <h2>Liste de candidates </h2>
    <ul>
        {% for candidate in candidates %}
            <li>Nom : {{ candidate.name }} <br> Email : {{ candidate.email }}</li>
        {% endfor %}
    </ul>

{% endblock %}