{% extends 'base.html.twig' %}


{% block body %}
    <h1>Page de Profile</h1>
    <h2> Profile name : {{ candidate.name }}</h2>
    <p>Skills : </p>
    <ul>
        {% for skill in skills %}
            <li>
                {{ skill.name }}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('candidate_skills_add_edit_remove', {id: candidate.id}) }}" class="card-link">Add / Modify / Delete Skills</a>

{% endblock %}